[submodule "ms"]
	path = ms
	url = https://github.com/kyugshim/Siple-check-ms.git
[submodule "auth_ms"]
	path = auth_ms
	url = https://github.com/kyugshim/Siple-check-auth-ms.git
[submodule "api_gateway"]
	path = api_gateway
	url = https://github.com/kyugshim/Siple-check-api-gateway.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/kyugshim/Siple-check-frontend.git
